<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{test.css}">
		<link href="${testCss}" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    
        <title>Course Registration</title>
</head>

<body>

    <div id="testheader">
        <div class="container">
            <div class=row>        
                <div class="col-md-5 ">
            <a th:href="@{MNU001.html}"><h3>Student Registration</h3></a>
        </div>  
        <div class="col-md-6">
           <p th:if="${session.login_user!=null}"  th:text="${session.login_user.name}">User: </p>
           <p th:text=" ${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></p>
        </div>  
        <div class="col-md-1" >
            <a th:href="@{/logout}"> <button class="btn-basic" id="lgnout-button">Log Out</button></a>
        </div>        
    </div>
</div>

</div>
    
    <div class="container">
    <div class="sidenav">
        
        <button class="dropdown-btn" > Class Management <i class="fa fa-caret-down"></i></button>
        
            <div class="dropdown-container">
          <a th:href="@{/AddCoursePage}">Course Registration </a>
          <a th:href="@{/AddStudent}">Student Registration </a>
          <a th:href="@{/SearchStudentPage}">Student Search </a>
        </div>
        <a th:href="@{/ShowUser}">Users Management</a>
      </div>
      <div class="main_contents">
    <div id="sub_content">
        <form th:action="@{/AddUser}" method="post" th:object="${user}">

            <h2 class="col-md-6 offset-md-2 mb-5 mt-4">User Registration</h2>
            <p class="col-md-6 offset-md-2 mb-5 mt-4 text-success" th:if="${message}" th:text="${message}"></p>
            <div class="row mb-4">
                <div class="col-md-2" ></div>
                
                <label  for="Passowrd" class="col-md-2 col-form-label"><span class="required-field">Name</span></label>
                <div class="col-md-4">
                    <input type="text" class="form-control required-field" id="name" th:field="*{name}"  th:value="${user.name}" />
                </div>
                <div class="col-md-4">
                    <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" />
                </div>
            </div>
            <div class="row mb-4">
             <div class="col-md-2 col-form-label">
                    
                </div>
                 <div class="col-md-4">
                    <p style="color: red" th:if="${warning}" th:text="${warning}" />
                </div>
                </div>
            <div class="row mb-4">
                <div class="col-md-2"></div>
                <label  for="email" class="col-md-2 col-form-label"><span class="required-field">Email</span></label>
                <div class="col-md-4">
                    
                    <input type="email"  
                     class="form-control required-field" id="email" th:field="*{email}" th:value="${user.email}"/>
                </div>
                <div class="col-md-4">
                    <p style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" />
                </div>
                
            </div>
            <div class="row mb-4">
                <div class="col-md-2"></div>
                <label for="Passowrd" class="col-md-2 col-form-label" >
                <span class="required-field">Password</span>
                </label>
                <div class="col-md-4">
                    <input type="password" class="form-control" id="name" th:field="*{password}" th:value="${user.password}" />
                </div>
                <div class="col-md-4">
                    <p style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" />
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-2"></div>
                <label for="confirmPassword" class="col-md-2 col-form-label"><span class="required-field">Confirm Password</span></label>
                <div class="col-md-4">
                    <input type="password" class="form-control" id="confirmPassword" name="confirmpass" >         
                </div>
                <div class="col-md-4">
                <p style="color: red" th:if="${error}" th:text="${error}"></p>
                </div> 
            </div>
            <div class="row mb-4">
                <div class="col-md-2"></div>
                <label for="userRole" class="col-md-2 col-form-label"><span class="required-field">User Role</span></label>
                <div class="col-md-4">
                    <select class="form-select" aria-label="Education" id="userRole" th:field="*{role}">
                        <option th:value="admin" th:text="admin" selected ></option>
                        <option th:value="user" th:text="user"></option>
                    </select>
                </div>
                </div>
            <div class="row mb-4">
                <div class="col-md-4"></div>
                <div class="col-md-6">
                   
    
                    <input type="submit" class="btn btn-secondary col-md-2" data-bs-toggle="modal" data-bs-target="#exampleModal" value="Add">
                 
    
            </div>
            </div>
            </form>
    </div>
</div>
</div>
        <div id="testfooter">
            <span>Copyright &#169; ACE Inspiration 2022</span>
        </div>
        <script>
            /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
            var dropdown = document.getElementsByClassName("dropdown-btn");
            var i;
            
            for (i = 0; i < dropdown.length; i++) {
              dropdown[i].addEventListener("click", function() {
              this.classList.toggle("active");
              var dropdownContent = this.nextElementSibling;
              if (dropdownContent.style.display === "block") {
              dropdownContent.style.display = "none";
              } else {
              dropdownContent.style.display = "block";
              }
              });
            }
            </script>
</body>

</html>

    
